*{
  font-family: 'Dongle', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  padding: 20px;
}

body {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(5,9,42);
  background: linear-gradient(90deg, rgba(5,9,42,1) 0%, rgba(19,101,156,1) 61%, rgba(48,139,200,1) 86%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  font-family: 'Dongle', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.logo {
  width: 800px;
  height: auto;
  display:block;
  margin-left: auto;  
  margin-right: auto;
}

.imgn {
  width: 700px;
  height: auto;
  display:block;
  margin-left: auto;  
  margin-right: auto;
}



.video {
  display:block;
  margin-left: auto;  
  margin-right: auto;
}


h1 {
  justify-content: center;
  text-align: center;
  font-size: 50px;
  /* background: -webkit-linear-gradient(rgb(255, 251, 0), rgb(0, 68, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: aliceblue;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}


h4 {
  justify-content: left;
  text-align: left;
  font-size: 16px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(209, 196, 196));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 20px;
  margin: 20px 200px 20px 200px;
}

.creador {
  justify-content: center;
  text-align: center;
  font-size: 50px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(211, 223, 255), rgb(77, 78, 138));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.nav:hover {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,239,29,1) 0%, rgba(255,156,15,1) 100%);
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  margin: auto;
}
.nav {
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  justify-content: center;
  float:left;
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

.columna {
  float: left;
  width: 25%;
  padding-right: 105px;
  padding-left: 105px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

.btn {

  background-color: goldenrod;
  padding: 6px;
  font-weight: bolder;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

.wlcm{
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 50px;
  margin: 20px 200px 20px 200px;
}